<ng-container *ngIf="inputGroup" [ngSwitch]="inputGroup.type">

    <div class="mb-3" *ngSwitchCase="'text'">
      <label [for]="idPrefix + inputGroup.id" class="form-label">{{inputGroup.id | titlecase}}</label>
      <input type="text" class="form-control" [id]="idPrefix + inputGroup.id"
             [formControl]="inputGroup.formControl">
    </div>

    <div *ngSwitchCase="'radio'" class="mb-3">
      <div class="mb-2">{{inputGroup.id | titlecase}}</div>
      <div *ngFor="let radioValue of inputGroup.value" class="form-check">
        <input type="radio" class="form-check-input" [id]="idPrefix + inputGroup.id + radioValue"
               [name]="inputGroup.id" [value]="radioValue"
               [formControl]="inputGroup.formControl">
        <label [for]="idPrefix + inputGroup.id + radioValue" class="form-check-label">{{radioValue | titlecase}}</label>
      </div>
    </div>

</ng-container>
